

/* header style */


#socialmediabar{
	height: 50px;
	background-color: black;
	width: 1700px;
    margin-left: 102px;
   	border-right: 1px solid white;
   	border-left: 1px solid white;
    
}
#brandingdiv{
 display:flex;
 justify-content:space-around;
 line-height: 5px;
 background-color: black;
 height: 115px;
 width: 1700px;
 margin-left: 102px;
 border-color: white;
    border-style: solid;
    border-width: 1px;
 

}

#address{ 
	text-align:center;

	padding-top: 35px; 
	min-width: 220px;
    width: 300px;
    margin-left: 80px;
    font-size: 120%;
	font-family: 'Arimo', sans-serif;
	color: white;

}
#title{ text-align:center;

	font-size: 400%;
	font-family: 'Suranna', serif;
	padding-top: 55px;
	margin-left: 270px;
	margin-right: 270px; 
	min-width: 300px;
	width: 900px;
	color: white;

 }
#happyhour{ text-align:center;

		padding-top: 35px; 
		font-size: 120%;
		font-family: 'Arimo', sans-serif;
		min-width: 220px;
		width: 300px;
		margin-right: 50px;
		color: white;

 }
 

 /* Navbar style */
 #navbardiv{
 display:flex;

 line-height: 5px;

 height: 57px;
 text-align: center

}

.navbutton{ 

		text-align:center;
		
		padding-top: 25px; 
		font-size: 160%;
		font-family: 'Sahitya', serif;
		min-width: 220px;
		width: 243px;
		color: white;
    	background-color: maroon;
    	display: inline-block

    	
		
 }


 #home{
 
		margin-left: 102px;
		border-right: 1px solid black;

    

    
    
 }

 #eventcalendar{

 	border-right: 1px solid black;

 }
  #gallery{

 	border-right: 1px solid black;
 }
  #ourhistory{
  
  	border-right: 1px solid black;
 	
 }
  #towerrecords{
  
 	border-right: 1px solid black;	
 }
  #merch{
  
 	border-right: 1px solid black;	
 }
  #contact{
	
  }
 
 
/* body style */
 .bodydiv{
 	height: 2000px;
 	width: 1700px;
 	margin-left: 102;
 	border-color: white;
    border-style: solid;
    border-width: 1px;
 	text-align: center;
 	background-color: black;
 	display:flex;
 	
 }
 
#maineventdiv{

	
	 vertical-align:middle;

    display:table-cell;
	height: 600;
	width: 1700px;



}
 .picturediv{
 	
 }
 #maineventpicdiv{
 	width: 500px;
 	margin-left: 20px;
 	margin-top: 105px;
 	
 	 display: inline-block;
    vertical-align: middle;
 	margin-right: 15px;
 	 position: relative;

 }
 #maineventinfo{
 	height: 450px;
 	margin-top: 105px;
 	
 	width: 800px;
 	 display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    color: white;
    

 }

 #maineventpic {
    
 	max-width: 340px;
 	max-height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #42dcf4;
    border-radius: 4px;
    
}
#maineventpic:hover {
    box-shadow: 0 0 2px 1px rgb(255, 242, 0);
}
#bodytext{
	font-family: 'Arimo', sans-serif;
	line-height: 15px;
	font-size: 23px;
}
#headertext{

	font-family: 'Sahitya', serif;
	font-size: 50px;
	line-height: 60px;
	padding-bottom: 40px;

}
#tix{
	padding-top: 10px;
	font-size: 15px;
		font-family: 'Arimo', sans-serif;

}