

/* header style */


#socialmediabar{
	height: 50px;
	background-color: black;
	width: 1700px;
    margin-left: 102px;
   	border-right: 1px solid white;
   	border-left: 1px solid white;
    
}
#brandingdiv{
 display:flex;
 justify-content:space-around;
 line-height: 5px;
 background-color: black;
 height: 115px;
 width: 1700px;
 margin-left: 102px;
 border-color: white;
    border-style: solid;
    border-width: 1px;
 

}

#address{ 
	text-align:center;

	padding-top: 35px; 
	min-width: 220px;
    width: 300px;
    margin-left: 80px;
    font-size: 120%;
	font-family: 'Arimo', sans-serif;
	color: white;

}
#title{ text-align:center;

	font-size: 400%;
	font-family: 'Suranna', serif;
	padding-top: 55px;
	margin-left: 270px;
	margin-right: 270px; 
	min-width: 300px;
	width: 900px;
	color: white;

 }
#happyhour{ text-align:center;

		padding-top: 35px; 
		font-size: 120%;
		font-family: 'Arimo', sans-serif;
		min-width: 220px;
		width: 300px;
		margin-right: 50px;
		color: white;

 }
 

 /* Navbar style */
 #navbardiv{
 display:flex;

 line-height: 5px;

 height: 57px;
 text-align: center

}

.navbutton{ 

		text-align:center;
		
		padding-top: 25px; 
		font-size: 160%;
		font-family: 'Sahitya', serif;
		min-width: 220px;
		width: 243px;
		color: white;
    	background-color: maroon;
    	display: inline-block

    	
		
 }


 #home{
 
		margin-left: 102px;
		border-right: 1px solid black;

    

    
    
 }

 #eventcalendar{

 	border-right: 1px solid black;

 }
  #gallery{

 	border-right: 1px solid black;
 }
  #ourhistory{
  
  	border-right: 1px solid black;
 	
 }
  #towerrecords{
  
 	border-right: 1px solid black;	
 }
  #merch{
  
 	border-right: 1px solid black;	
 }
  #contact{
	
  }
 
 
/* body style */
 .bodydiv{
 	height: 2000px;
 	width: 1700px;
 	margin-left: 102;
 	border-color: white;
    border-style: solid;
    border-width: 1px;
 	text-align: center;
 	background-color: black;
 	display:flex;
 	
 }
 .picturediv{
 	
 }
 #maineventpic{
 	width: 750px;
 	margin-left: 250px;
 	margin-top: 60px;
 	height: 400px;
 	background-color: white;
 	margin-right: 75px;

 }
 #maineventinfo{
 	height: 250px;
	margin-top: 130px;
 	background-color: red;
 	width: 500px;

 }