

/* header style */


#socialmediabar{
	height: 40px;
	background-color: black;
	width: 1900px;
    
   	border-right: 1px solid white;
   	border-left: 1px solid white;
   	text-align: right;
   	padding-right: 105px;
   	padding-top: 6px;
    
}
#brandingdiv{
 display:flex;
 justify-content:space-around;
 line-height: 5px;
 background-color: black;
 height: 150px;
 width: 1900px;

 border-color: white;
    border-style: solid;
    border-width: 1px;
 

}

#address{ 
	text-align:left;
	
	
	min-width: 220px;
    width: 980px;
    margin-left: 95px;
    font-size: 110%;
	font-family: 'Arimo', sans-serif;
	color: #e5e6e8;
	padding-left: 5px;
	height: 135px;
	line-height: 260px;

}
#title{ 
	text-align:center;
	font-size: 400%;
	font-family: 'Suranna', serif;
	padding-top: 18px;
	margin-left: 22px;
	margin-right: 22px; 
	min-width: 300px;
	width: 900px;
	color: white;
	
	height: 137px;
	

 }
#happyhour{ 
		
		text-align:right;
		padding-top: 35px; 
		font-size: 110%;
		font-family: 'Arimo', sans-serif;
		min-width: 220px;
		width: 980px;
		margin-right: 105px;
		color: #e5e6e8;
		
		height: 135px;
		line-height: 190px;

 }
 

 /* Navbar style */
 #navbardiv{
 display:flex;
background-color: maroon;
 line-height: 5px;

 height: 57px;
 text-align: center

}

.navbutton{ 

		text-align:center;
		
		padding-top: 25px; 
		font-size: 160%;
		font-family: 'Sahitya', serif;
		min-width: 220px;
		width: 243px;
		color: white;
    	background-color: maroon;
    	display: inline-block

    	
		
 }


 #home{
 
		margin-left: 102px;
		border-right: 1px solid black;
		border-left: 1px solid black;

    

    
    
 }

 #eventcalendar{

 	border-right: 1px solid black;

 }
  #gallery{

 	border-right: 1px solid black;
 }
  #ourhistory{
  
  	border-right: 1px solid black;
 	
 }
  #towerrecords{
  
 	border-right: 1px solid black;	
 }
  #merch{
  
 	border-right: 1px solid black;	
 }
  #contact{
	 	border-right: 1px solid black;	

  }
 
 
/* body style */
 .bodydiv{
 	height: 2000px;
 	width: 1890px;
 	
 	padding-top: 30px;
 	
 	
 	background-color: black;

 	
 }
 
#maineventdiv{

	
	 vertical-align:middle;
	 border-color: white;
    border-style: solid;
    border-width: 1px;
    background-color: #161616;
	height: 520;
	width: 1220px;
	margin-top: 5px;
	margin-left: 340px;



}
 .picturediv{
 	
 }
 #maineventpicdiv{
 	width: 500px;
 	
 	margin-top: 20px;
 	
 	 display: inline-block;
    vertical-align: middle;
 	margin-right: 15px;
 	 position: relative;

 }
 #maineventinfo{
 	height: 450px;
 	margin-top: 50px;
 	width: 650px;
 	 display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    color: white;
    

 }

 #maineventpic {
    
 	max-width: 310px;
 	max-height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #42dcf4;
    border-radius: 4px;
    
}
#maineventpic:hover {
    box-shadow: 0 0 2px 1px rgb(255, 242, 0);
}
#bodytext{
	font-family: 'Arimo', sans-serif;
	line-height: 15px;
	font-size: 28px;
}
#headertext{

	font-family: 'Sahitya', serif;
	font-size: 50px;
	line-height: 60px;
	padding-bottom: 40px;

}
#tix{
	padding-top: 40px;
	font-size: 19px;
	font-family: 'Arimo', sans-serif;

}

.events_first_row{

	 
	
	
	width: 1700px;
	margin-top: 30px;
	margin-left: 80px;
	
	

}
.first_event{
	
}
#sub_events{
	

 	
 	width: 350px;
 	height: 550px;
 	text-align: center;
 	padding-top: 10px;
 background-color: #161616;
 	display: inline-block;
    margin-left: 55px;
 	margin-right: 10px;
 	 position: relative;
 	 border-color: white;
    border-style: solid;
    border-width: 1px;
     display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: white;
    line-height: 10px;
 	
 	 position: relative;
}
#subheadertext{
	line-height: 18px;
}

#subpic{

	border: 3px solid #42dcf4;
    border-radius: 4px;
    
}
#subpic:hover {
    box-shadow: 0 0 2px 1px rgb(255, 242, 0);
}